.container{
    background-color: beige;
    display: grid;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 0 20px 0 20px 0;
    grid-template-columns: 50% 50%;
}

.text{
    grid-column: 1/2;
}

.gif{
    grid-column: 2/3;
}

img{
    width: 20%;
    min-width: 150px;
}

h3{
    padding-left: 7px;
    text-align: center;
}