.container{
    background-color: beige;
    display: grid;
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 0 20px 0 20px 0;
    grid-template-columns: 50% 50%;
}

.text{
    grid-column: 1/2;
}

.gif{
    grid-column: 2/3;
}